progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Set the size */
  height: 75px; /* Change this to your preference */
  width: 25%;

  /* Set the color */
  color: #007BFF; /* Change this to your preference */
}

/* Set the color on Firefox */
progress::-moz-progress-bar {
  background: #007BFF; /* Change this to your preference */
}

/* Set the color on Chrome, Safari, and Opera */
progress::-webkit-progress-value {
  background: #007BFF; /* Change this to your preference */
}

/* Set the remaining progress bar color on Chrome, Safari, and Opera */
progress::-webkit-progress-bar {
  background: #ddd; /* Change this to your preference */
}
